@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

/**
 * Main
 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Titillium Web', sans-serif;
  background-color: #f8fafc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/**
 * Misc
 */
.truncate {
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-sm {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-lg {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-wrap {
  white-space: nowrap;
}

.pink {
  color: hotpink;
}

/**
 * Content
 */
#root > section.container {
  padding-bottom: 100px;
}

#root {
  padding-top: 55px;
}


/**
 * Index
 */
.jumbotron {
  font-size: 1em;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

#jumbo-content {
  max-width: 420px;
  text-align: center;
}

.main-title {
  font-size: 2.8em !important;
}

.supported-devices > span {
  font-size: 0.8em;
  margin: 0 8px;
}

#rnd-cover,#artist-cover,#track-cover {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


/**
 * Nav
 */
.navbar {
  font-size: 0.9em;
}

.navbar-brand {
  font-size: 1.2em;
}

/**
 * Player
 */
#player {
  height: 80px;
}

.list-group {
  border-radius: 6px;
  padding: 5px 15px 85px 8px;
}

.list-group div {
  background-color: #f8fafc;
}

.list-group-item {
  padding: 3px 0;
}

#player-cover {
  border: 1px solid #ccc;
  height: 70px; width: 70px;
  margin-top: 2px;
  border-radius: 8px;
}

#controls-container {
  max-width: 800px;
}

.player-control {

}

.player-control i {
  color: #aaa;
  font-size: 1.1em;
}

.player-control:hover i {
  color: #444;
}

#player-controls {
  padding-top: 4px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-evenly;
  margin-right: auto;
}

#player-title {
  font-size: 1.1em;
}

#playtime {
  font-size: 0.7em;
  padding-top: 10px;
  padding-left: 10px;
}

.marquee-cont {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.progress {
  z-index: 9999;
  position: relative;
  top: -2px;
  left: 0;
  width: 100%;
  height: 4px;
}

.player-like {
  font-size: 1.2em;
  padding-top: 6px;
}

/**
 * Playlist
 */
#playlist {
  min-height: 100%;
  padding-bottom: 85px;
}

.track-row {
  height: 25px;
}

.track-list:hover {
  cursor: pointer;
  background-color: #eee;
}

/**
 * Albums
 */
.album-card {
  width: 200px;
  background-color: #f8fafc;
  background-color: #f8fafc;
}

.album-card:hover {
  cursor: pointer;
}

.album-art {
  border: 1px solid #CCC;
}

.album-art-sm {
  height: 24px;
  margin-right: 10px;
}

.album-title {
  font-size: 0.9em;
  padding: 2px 0;
}

.album-artist {
  font-size: 0.8em;
}

.album-list:hover {
  cursor: pointer;
  background-color: #eee;
}

/**
 * Artists
 */
.artist-card {
  border-radius: 12px;
  width: 200px;
  margin: 15px;
}

.artist-card:hover {
  cursor: pointer;
}

.artist-title {
  text-align: center;
  font-size: 0.9em;
  padding: 2px 0;
}

.artist-list:hover {
  cursor: pointer;
  background-color: #eee;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .album-card {
    width: 100%;
  }
  #playtime {
    padding-top: 12px;
    padding-left: 2px;
    font-size: 0.6em;
  }
  #player-controls, .marquee-cont {
    width: 315px;
  }
}
